body {
	padding: 0px 25px;
	margin: 0px;
	background-color: white;
	font-family: arial, sans-serif;
	font-size: 13px;
	color: rgb(33, 33, 33);
}

ul {
	display: inline-flex;
	list-style-type: none;
	align-items: center;
}
header nav ul a {
	color: rgb(33, 33, 33);
	text-decoration: none;
}
header nav {
	text-align: right;
	margin-top: -5.5px;
	margin-right: 4px;
}
#images{
	padding-left: 15px;
}
#menu {
	width: 18px;
	opacity: 0.55;
	padding: 14px 21px 10px 21px;
	image-rendering: pixelated;
}
#menu:hover {
	opacity: 1;
}
#avatar {
	padding: 0px;
    border-radius: 50%;
    width: 32px;
}
main {
	text-align: center;
	padding-top: 130px;
}
a {
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
#searchbar {
	width: 580px;
	display: block;
	margin: auto;
	position: relative;
	top: 25px;
	border: 1px solid rgb(220, 220, 220);
	border-radius: 50px;
}
#searchbar:hover{
	box-shadow: 0 0 7px lightgrey;
}
#search{
	height: 18px;
	opacity: 0.5;
	position: relative;
	top: 4px;
	right: 24px;
}
#voice{
	height: 20px;
	position: relative;
    top: 5px;
    left: 18px;
}
input {
	width: 460px;
	display: inline-block;
	height: 44px;
	outline: none;
	border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}
button {
	outline: none;
	background-color: rgb(242, 242, 242);
	border-radius: 4px;
	padding: 10px 16px;
	margin: 26px 4px 15px 4px;
	font-size: 14px;
	color: rgb(100, 100, 100);
	border: 1px solid rgb(242, 242, 242);
}
main button {
	margin-top: 50px;	
}
main button:hover{
	border: 1px solid rgba(128, 128, 128, 0.3);
	color: rgb(33, 33, 33);
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1)
}
footer {
	background-color: rgb(242, 242, 242);
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	color: rgb(128, 128, 128);
	border-top: 0.3px solid rgb(228, 228, 228);
	font-size: 14px;
	width: 100vw;
}
footer ul a{
	color: rgb(100, 100, 100);
	text-decoration: none;
	padding: 0px 14px;
}
#about {
	display: flex;
	justify-content: space-between;
	border-top: 0.3px solid rgb(228, 228, 228);
	line-height: 14px;
}
footer ul{
	padding: 0px 15px;
	margin: 13px 0px;
}
footer p{
	margin-left: 27px;
}
.country {
	color: rgba(0,0,0,.54);
	margin-left: 27px;
	text-align: left;
	line-height: 14px;
	font-size: 15px;
}
#dropdown {
	border-radius: 10px;
	width: 300px;
	height: 410px;
	position: relative;
  	padding: 10px;
  	overflow: scroll;
  	justify-content: end;
  	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
	position: absolute;
	z-index: 1;
	background-color: white;
	top: 60px;
	right: 30px;
}
#dropdown div {
	width: 290px;
	display: inline-flex;
  	flex-wrap: wrap;
}

#dropdown div div{
	width: 84px;
	height: 84px;
	border-radius: 10px;
	margin: 5px;
	text-align: center;
	justify-content: center;
	display:block;
}
#dropdown div div:hover {
	background-color: rgb(246, 250, 255)
}
#dropdown div div img {
	margin: 10px auto;
	height: 40px;
	display: block;
}
#dropdownAvatar {
	border-radius: 50%;
}
#dropdown button {
	background-color: white;
	color: rgb(46, 116, 236);
	margin: 20px auto 10px auto;
	border-color: rgb(202, 223, 254);
	display: block;
}
#dropdown button:hover {
	background-color: rgb(246, 250, 255)
}
#accountdropdown {
	border-radius: 10px;
	width: 330px;
	height: 390px;
	position: relative;
  	padding: 10px;
  	overflow: scroll;
  	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
	position: absolute;
	z-index: 1;
	background-color: white;
	top: 60px;
	right: 30px;
	font-size: 14px;
	text-align: center;
}
#accountAvatar {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	padding-top: 10px;
}
#cameraicon {
	height: 28px;
	border-radius: 50%;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
	z-index: 1;
	position: absolute;
	top: 70px;
	left: 190px;
}
#accountdropdown h3 {
	font-weight: 400;
	margin-bottom: -10px;
}
#email {
	color: rgb(128, 128, 128);
	font-size: 14px;
}
#admin {
	border: 1px solid rgb(220, 220, 220);
	border-radius: 20px;
	padding: 10px 15px;
	display:inline-block;	
	background-color: white;
	margin-top: 0px;
	color: rgb(33, 33, 33);
}
#admin:hover {
	background-color: rgb(248, 248, 248);
}
#cuenta {
	border-top: 1px solid rgb(220, 220, 220);
	border-bottom: 1px solid rgb(220, 220, 220);
	padding: 18px;
    text-align: left;
}
#cuenta:hover {
	background-color: rgb(248, 248, 248);
}
#cuenta img {
	opacity: 0.8;
	height: 15px;
	padding: 0px 15px;
}
#salir{
	border: 1px solid rgb(220, 220, 220);
	background-color: white;
	padding: 10px 25px;
	margin: 20px 0px;
	color: rgb(33, 33, 33);
}
#salir:hover {
	background-color: rgb(248, 248, 248);
}
.footer {
	font-size: 12px;
	padding: 5px 10px;
	justify-content: space-around;
	border-top: 1px solid rgb(220, 220, 220);
	margin: 0px;
	line-height: 40px;
	color: rgb(128, 128, 128);
}
.footer a:hover {
	background-color: rgb(248, 248, 248);
	text-decoration: none;
}
.hide {
	display: none;
}
.show {
	display: block;
}








